# Postgres (docker-compose local por padrão)
DATABASE_URL="postgresql://dilonzap:dilonzap@localhost:5432/dilonzap?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="gere-com: openssl rand -base64 32"
